@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 90px 3.5rem 3.5rem 50px;
}

article {
  margin: 300px 0px 0px 250px;
}

li {
  text-decoration: none;
}

/* Custom styles for the checkbox */
.custom-checkbox {
  @apply appearance-none h-5 w-5 border rounded border-gray-300 bg-white checked:bg-black checked:border-transparent focus:outline-none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 35rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 25rem;
  height: 45rem;
  position: relative;
}

@media (max-width: 500px) {
  section {
    padding: 50px 20px 50px 20px;
  }
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  border-radius: 2rem;
  object-fit: contain;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: black;
}
